<form action='/result' method="get">
	<% randomSamples.forEach(function (random) { %>

	<button type="submit" name="sampleSelection" value="<%= random.sample_id %>" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light" style="color: #0a0a0a">
		Sample: <%= random.sample_id %>,
		Sequence Type: <%= random.st %>,
		Location: <%= random.country %>,
		Strain: <%= random.strain %>,
		Host: <%= random.host %>,
		Isolation Source: <%= random.isolation_source %>
		<% }) %>
	</button>
</form>


<!--<form action='/result' method="get">-->
<!--	<button type="submit" name="sampleSelection" value="44140" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"-->
<!--			style="color: #0a0a0a">-->
<!--		Sample: 44140,-->
<!--		Sequence Type: 105,-->
<!--		Location: United States of America (USA),-->
<!--		Strain: DAR1956,-->
<!--		Host: Homo sapiens,-->
<!--		Isolation Source: Respiratory-->
<!--	</button>-->
<!--	<button type="submit" name="sampleSelection" value="40447" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"-->
<!--			style="color: #0a0a0a">-->
<!--		Sample: 40447,-->
<!--		Sequence Type: 225,-->
<!--		Location: United States of America (USA),-->
<!--		Strain: ,-->
<!--		Host: Homo sapiens,-->
<!--		Isolation Source: nares or umbillicus-->
<!--	</button>-->
<!--	<button type="submit" name="sampleSelection" value="43922" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"-->
<!--			style="color: #0a0a0a">-->
<!--		Sample: 43922,-->
<!--		Sequence Type: 5,-->
<!--		Location: United States of America (USA),-->
<!--		Strain: H47183,-->
<!--		Host: Homo sapiens,-->
<!--		Isolation Source:-->
<!--	</button>-->
<!--	<button type="submit" name="sampleSelection" value="44216" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"-->
<!--			style="color: #0a0a0a">-->
<!--		Sample: 44216,-->
<!--		Sequence Type: 5,-->
<!--		Location: United States of America (USA),-->
<!--		Strain: DAR1158,-->
<!--		Host: Homo sapiens,-->
<!--		Isolation Source: Respiratory-->
<!--	</button>-->
<!--</form>-->