<table class="adjustedTable">
    <tr >
        <th>Title</th>
        <th>Contig</th>
        <th>Hamming Distance</th>
        <th>Bitscore</th>
        <th>Evalue</th>
        <th>Identity</th>
        <th>Mismatch</th>
        <th>Gaps</th>
        <th>Query From</th>
        <th>Query To</th>
        <th>Hit From</th>
        <th>Hit To</th>
        <th>Align Length</th>
        <th>Qseq</th>
        <th>Hseq</th>
        <th>Midline</th>
    </tr>
    <% sccmec_proteins.forEach(function (result_sccmec_proteins) { %>
    <tr>
        <td > <%= staphopia_blatstquery[result_sccmec_proteins.query_id-1].title %> </td>
        <td > <%= result_sccmec_proteins.contig %> </td>
        <td > <%= result_sccmec_proteins.hamming_distance %> </td>
        <td > <%= result_sccmec_proteins.bitscore %> </td>
        <td > <%= result_sccmec_proteins.evalue %> </td>
        <td > <%= result_sccmec_proteins.identity %> </td>
        <td > <%= result_sccmec_proteins.mismatch %> </td>
        <td > <%= result_sccmec_proteins.gaps %> </td>
        <td > <%= result_sccmec_proteins.query_from %> </td>
        <td > <%= result_sccmec_proteins.query_to %> </td>
        <td > <%= result_sccmec_proteins.hit_from %> </td>
        <td > <%= result_sccmec_proteins.hit_to %> </td>
        <td > <%= result_sccmec_proteins.align_len %> </td>
        <td > <%= result_sccmec_proteins.qseq %> </td>
        <td > <%= result_sccmec_proteins.hseq %> </td>
        <td > <%= result_sccmec_proteins.midline %> </td>

    </tr>

    <% }) %>
</table>
