<table style="width: 100%;">
    <% sample_metadata.forEach(function (result_sample_metadata) { %>
    <tr>
        <td ><b>Sample ID:</b></td>
        <td > <%= result_sample_metadata.sample_id %> </td>
    </tr>
    <tr>
        <td ><b>Study Accession:</b></td>
        <td > <%= result_sample_metadata.metadata.study_accession %></td>
    </tr>
    <tr>
        <td ><b>Study Title:</b></td>
        <td > <%= result_sample_metadata.metadata.study_title %></td>
    </tr>
    <tr>
        <td ><b>Study Alias:</b></td>
        <td > <%= result_sample_metadata.metadata.study_alias %></td>
    </tr>
    <tr>
        <td ><b>Secondary Study Accession:</b></td>
        <td > <%= result_sample_metadata.metadata.secondary_study_accession %></td>
    </tr>
    <tr>
        <td ><b>Sample Accession:</b></td>
        <td > <%= result_sample_metadata.metadata.sample_accession %></td>
    </tr>
    <tr>
        <td ><b>Secondary Sample Accession:</b></td>
        <td > <%= result_sample_metadata.metadata.secondary_sample_accession %></td>
    </tr>
    <tr>
        <td ><b>Submission Accession:</b></td>
        <td > <%= result_sample_metadata.metadata.submission_accession %></td>
    </tr>
    <tr>
        <td ><b>Experiment Title:</b></td>
        <td > <%= result_sample_metadata.metadata.experiment_title %></td>
    </tr>
    <tr>
        <td ><b>Experiment Alias:</b></td>
        <td > <%= result_sample_metadata.metadata.experiment_alias %></td>
    </tr>
    <tr>
        <td ><b>Tax ID:</b></td>
        <td > <%= result_sample_metadata.metadata.tax_id %></td>
    </tr>
    <tr>
        <td ><b>Scientific Name:</b></td>
        <td ><i> <%= result_sample_metadata.metadata.scientific_name %> </i></td>
    </tr>
    <tr>
        <td ><b>Instrument Platform:</b></td>
        <td > <%= result_sample_metadata.metadata.instrument_platform %></td>
    </tr>
    <tr>
        <td ><b>Instrument Model:</b></td>
        <td > <%= result_sample_metadata.metadata.instrument_model %></td>
    </tr>
    <tr>
        <td ><b>Library Layout:</b></td>
        <td > <%= result_sample_metadata.metadata.library_layout %></td>
    </tr>
    <tr>
        <td ><b>Library Strategy:</b></td>
        <td > <%= result_sample_metadata.metadata.library_strategy %></td>
    </tr>
    <tr>
        <td ><b>Library Selection:</b></td>
        <td > <%= result_sample_metadata.metadata.library_selection %></td>
    </tr>
    <tr>
        <td ><b>Center Name:</b></td>
        <td > <%= result_sample_metadata.metadata.center_name %></td>
    </tr>
    <tr>
        <td ><b>Center Link:</b></td>
        <td > <a href="<%= result_sample_metadata.metadata.center_link %>"><%= result_sample_metadata.metadata.center_link %></a></td>
    </tr>
    <tr>
        <td ><b>First Public:</b></td>
        <td > <%= result_sample_metadata.metadata.first_public %></td>
    </tr>
    <tr>
        <td ><b>Cell Line:</b></td>
        <td > <%= result_sample_metadata.metadata.cell_line %></td>
    </tr>
    <tr>
        <td ><b>Collected By:</b></td>
        <td > <%= result_sample_metadata.metadata.collected_by %></td>
    </tr>
    <tr>
        <td ><b>Collection Date:</b></td>
        <td > <%= result_sample_metadata.metadata.collection_date %></td>
    </tr>
    <tr>
        <td ><b>Country:</b></td>
        <td > <%= result_sample_metadata.metadata.country %></td>
    </tr>
    <tr>
        <td ><b>Description:</b></td>
        <td > <%= result_sample_metadata.metadata.description %></td>
    </tr>
    <tr>
        <td ><b>Environmental Sample:</b></td>
        <td > <%= result_sample_metadata.metadata.environmental_sample %></td>
    </tr>
    <tr>
        <td ><b>Germline:</b></td>
        <td > <%= result_sample_metadata.metadata.germline %></td>
    </tr>
    <tr>
        <td ><b>Isolate:</b></td>
        <td > <%= result_sample_metadata.metadata.isolate %></td>
    </tr>
    <tr>
        <td ><b>Isolation Source:</b></td>
        <td > <%= result_sample_metadata.metadata.isolation_source %></td>
    </tr>
    <tr>
        <td ><b>Serotype:</b></td>
        <td > <%= result_sample_metadata.metadata.serotype %></td>
    </tr>
    <tr>
        <td ><b>Serovar:</b></td>
        <td > <%= result_sample_metadata.metadata.serovar %></td>
    </tr>
    <tr>
        <td ><b>Sex:</b></td>
        <td > <%= result_sample_metadata.metadata.sex %></td>
    </tr>
    <tr>
        <td ><b>Submitted Sex:</b></td>
        <td > <%= result_sample_metadata.metadata.submitted_sex %></td>
    </tr>
    <tr>
        <td ><b>Strain:</b></td>
        <td > <%= result_sample_metadata.metadata.strain %></td>
    </tr>
    <tr>
        <td ><b>Subspecies:</b></td>
        <td > <%= result_sample_metadata.metadata.sub_species %></td>
    </tr>
    <tr>
        <td ><b>Tissue Type:</b></td>
        <td > <%= result_sample_metadata.metadata.tissue_type %></td>
    </tr>
    <tr>
        <td ><b>Biosample Tax ID:</b></td>
        <td > <%= result_sample_metadata.metadata.biosample_tax_id %></td>
    </tr>
    <tr>
        <td ><b>Biosample Scientific Name:</b></td>
        <td ><i> <%= result_sample_metadata.metadata.biosample_scientific_name %></i></td>
    </tr>
    <tr>
        <td ><b>Sample Alias:</b></td>
        <td > <%= result_sample_metadata.metadata.sample_alias %></td>
    </tr>
    <tr>
        <td ><b>Checklist:</b></td>
        <td > <%= result_sample_metadata.metadata.checklist %></td>
    </tr>
    <tr>
        <td ><b>Bisoample Center Name:</b></td>
        <td > <%= result_sample_metadata.metadata.biosample_center_name %></td>
    </tr>
    <tr>
        <td ><b>Environment Biome:</b></td>
        <td > <%= result_sample_metadata.metadata.environment_biome %></td>
    </tr>
    <tr>
        <td ><b>Environment Feature:</b></td>
        <td > <%= result_sample_metadata.metadata.environment_feature %></td>
    </tr>
    <tr>
        <td ><b>Environment Material:</b></td>
        <td > <%= result_sample_metadata.metadata.environment_material %></td>
    </tr>
    <tr>
        <td ><b>Project Name:</b></td>
        <td > <%= result_sample_metadata.metadata.project_name %></td>
    </tr>
    <tr>
        <td ><b>Host:</b></td>
        <td > <%= result_sample_metadata.metadata.host %></td>
    </tr>
    <tr>
        <td ><b>Host Tax ID:</b></td>
        <td > <%= result_sample_metadata.metadata.host_tax_id %></td>
    </tr>
    <tr>
        <td ><b>Host Status:</b></td>
        <td > <%= result_sample_metadata.metadata.host_status %></td>
    </tr>
    <tr>
        <td ><b>Host Sex:</b></td>
        <td > <%= result_sample_metadata.metadata.host_sex %></td>
    </tr>
    <tr>
        <td ><b>Submitted Host Sex:</b></td>
        <td > <%= result_sample_metadata.metadata.submitted_host_sex %></td>
    </tr>
    <tr>
        <td ><b>Host Body Site:</b></td>
        <td > <%= result_sample_metadata.metadata.host_body_site %></td>
    </tr>
    <tr>
        <td ><b>Investigation Type:</b></td>
        <td > <%= result_sample_metadata.metadata.investigation_type %></td>
    </tr>
    <tr>
        <td ><b>Sequencing Method:</b></td>
        <td > <%= result_sample_metadata.metadata.sequencing_method %></td>
    </tr>
    <tr>
        <td ><b>Broker Name:</b></td>
        <td > <%= result_sample_metadata.metadata.broker_name %></td>
    </tr>
    <% }) %>
</table>
