<div id="page-container">

    <div class="resultsPageTopComponent">
        <h5 style="text-align: center; margin-top: 5px;">
            Staphlyococcus aureus <br>
        </h5>

        <h1 style="text-align: center; margin-top: -10px;">
            <%= uploaded.name %>
        </h1>

        <!-- Sample summary information -->
        <hr style="width: 55%; margin-top: -2px"></hr>
        <h4 style="text-align: center"> Summary </h4>
        <p class="summaryInfo">
            <b>Sequence Type:</b> <%= uploaded.st %>
            <br>
            <b>Location:</b> <%= uploaded.country %>
            <br>
            <b>Host:</b> <%= uploaded.host %>
            <br>
            <b>Isolation Source:</b> <%= uploaded.isolation_source %>
        </p>
        <hr style="width: 55%">
        </hr>

    </div>

    <!--Result page interactive element-->
    <div id="resultsPageGraphComponents">
        <div id="resultsPageGraphComponent1">
            <h6 id="displayDescription">Functional network of related genomes and genomic interaction</h6>
        </div>
        <!-- close resultsPageGraphComponent1 -->

        <div id="resultsPageGraphComponent2">
            <div id="interactiveGraph">
                <button type="button" id="centerGraph" onclick="centerGraph()" title="Center graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-expand" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <a href="#saveableGraphImage" id="downloadGraph" onclick="downloadGraph()"
                   title="Create .png file of current graph" class="btn btn-outline-dark btn-sm">
                    <i class="far fa-file-image" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </a>
                <button type="button" id="zoomInGraph" onclick="zoomInGraph()" title="Zoom in on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-plus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <button type="button" id="zoomOutGraph" onclick="zoomOutGraph()" title="Zoom out on graph"
                        class="btn btn-outline-dark btn-sm">
                    <i class="fa fa-search-minus" style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
                <a href="#interactiveGraph" id="expandGraph" onclick="expandGraph()" title="Make graph full screen"
                   class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-up"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </a>
                <button type="button" id="minimizeGraph" onclick="minimizeGraph()"
                        title="Minimize graph to original size" class="btn btn-outline-dark btn-sm">
                    <i class="fas fa-long-arrow-alt-down"
                       style="font-size:20px; padding-left: 20px; padding-right: 20px;"></i>
                </button>
            </div>
            <div id="cyLegend">
                <p id="cyLegendTitle"><b> Legend</b></p>
                <p id="cyLegendDivider"> | </p>

                <div class="legend" onclick="changeConnection('location')">
                    <div class="legendColorSquare" style="background-color: red;"></div>
                    <p id="locLegend" class="cyLegendText"> Same Location </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('host')">
                    <div class="legendColorSquare" style="background-color: blue;"></div>
                    <p id="hostLegend" class="cyLegendText"> Same Host </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('sequence')">
                    <div class="legendColorSquare" style="background-color: green;"></div>
                    <p id="seqLegend" class="cyLegendText"> Same Sequence Type </p>
                    <div class="cyLegendSpacer"></div>
                </div>

                <div class="legend" onclick="changeConnection('isolation')">
                    <div class="legendColorSquare" style="background-color: orange;"></div>
                    <p id="isoLegend" class="cyLegendText"> Same Isolation Source </p>
                </div>
            </div>

        </div>
        <!-- close resultsPageGraphComponent2 -->

        <div id="resultsPageGraphComponent3">
            <div id="cy"></div>
        </div>
        <!-- close resultsPageGraphComponent3 -->
        <div id="resultsPageGraphComponent4" style="text-align: center;">
            <div class="weightedDistanceSliders">
                <p id="weighteddistnum">Minimum Connections = 2</p>
                <input type="range" min="1" max="4" value="2" class="slider" id="myRange1" oninput="changeDist()"
                       style="width: 40%; "></input>
            </div>
        </div>
    </div>


    <div id="imageTitleDiv"
         style="width: 100%; font-size: 20px; text-align: center; margin-bottom: 20px; margin-top: 20px;"></div>
    <img id="saveableGraphImage">

    <!-- Scripts for result page functionality -->
    <% include ../snippets/uploadResultScripts.ejs %>
    <!-- Scripts for downloading the sample information -->


</div>
